<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- MEDIUM STYLE EDITOR -->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- CUSTOM CSS  -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat|Russo+One" rel="stylesheet">
  </head>
  <body>
          <!-- NAVBAR -->
<nav  style="background:#1a1c20" border=0px; class="navbar navbar-default techfont custom-navbar">
  <div class="container">

    <ul class="nav navbar-nav">
      <li><a class="navbar-brand bigbrand"  href="{% url 'post_list' %}"><strong>My Blog</strong></a></li>
      <li><a id="nav_link" href="{% url 'about' %}"><strong>About</strong></a></li>
      <li><a id="nav_link" href="https://github.com/Samrat101"><strong>Github</strong></a></li>
      <li><a id="nav_link" href="https://www.linkedin.com/in/sandeep-yadav-2449381a0/"><strong>Linkedin</strong></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a id="nav_link" href="{% url 'post_new' %}"><strong>New Post</strong></a></li>
        <li><a id="nav_link" href="{% url 'post_draft_list' %}"><strong>Draft</strong></a></li>
        <li><a id="nav_link" href="{% url 'logout' %}"><strong>Logout</strong></a></li>
        <li><a id="nav_link" href=""><strong>Welcome {{ user.username }}</strong></a></li>
      {% else  %}
        <li><a class="nav navbar-right"  href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
      {% endif %}
    </ul>
  </div>
</nav>
          <!-- CONTENT BLOCK -->
<div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>
</div>
  </body>
</html>
