{% extends "blog/base.html" %}

{% block content %}
<div>
  <div class="col-md-8">
      <h1><strong>WELCOME BACK</strong> </h1>
      <h1 style="font-family:Ruso one"><strong>{{user.username}}</strong> </h1>
  </div>

  <div class="col-md-4">
    <div class="centerstage">
        {% for post in post_list %}
        <div class="post">
          <h1><a href="{% url 'post_detail' pk=post.pk %}"><strong>{{post.title}}</strong></a></h1>
          <div class="date">
            <p><strong>Created On: {{post.created_date|date:"D M Y"}}</strong></p>
          </div>
          <a href="{% url 'post_detail' pk=post.pk %}"><strong>Comments: {{post.approve_comments.count}}</strong></a>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
